// Opacity animation
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Topping animation
@keyframes topping {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// Bottoming animation
@keyframes bottoming {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
