.pre {
  display: flex;
  flex-direction: column;
  font-family: "Graphik web", sans-serif;
  gap: 15px 0;
  padding: 100px;
  animation: fade-up 1s ease-in-out;

  &-title {
    color: #ff8a76;
    padding-top: 50px;
  }

  &-content {
    color: #848484;

    &-link {
      color: #ff8a76;
    }
  }
}
