// Import styles
@import "../../styles/_mixins.scss";

.feature {
  display: flex;
  gap: 0 15px;
  align-items: flex-start;

  &-image {
    width: 20px;
  }

  &-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px 0;

    &-title {
      font-size: 18px;
    }

    &-content {
      width: 80%;
      font-size: 15px;
      color: #848484;

      @include mobile {
        width: 100%;
      }
    }
  }
}
