.limited {
  display: flex;
  flex-direction: column;
  font-family: "Graphik web", sans-serif;
  gap: 25px 0;
  padding: 100px;
  color: #848484;

  &-title {
    color: #ff8a76;
    padding-top: 50px;
  }

  &-list {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      list-style-type: numeric;
    }
  }

  &-content {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;

    &-title {
      font-weight: bold;
    }
  }
}
